body{
	text-align: center;
}
.graph{
	border-color: black;
	border-style: solid;
}
div{
	color:white;
	background-color:#004c4c;
	padding:1%;
	border-radius:5px;
	position:absolute;
}
.title{
	font-size:24px;
}